<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - WildAware</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='accueil.css') }}">
</head>
<body>
    <div class="entete"></div>
    <div class="corps">
        <button class="connexion">
            <a href="{{ url_for('login') }}">CONNEXION</a>
        </button>
        <button class="inscription">
            <a href="{{ url_for('inscription') }}">INSCRIPTION</a>
        </button>
    </div>
</body>
</html>