<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/scan.css">
</head>
<body>
    <div class="entete"></div>
    <div class="corps">
        <button type="submit" class="connexion"><a href="info.html">SCAN</a></button>
        <script>
            // Cibler le formulaire par son id
            document.getElementById('connexionForm').addEventListener('submit', function(event) {
                // (rechargement de la page)
                event.preventDefault();
    
                window.location.href = 'info.html';
            });
        </script>
    </div>
</body>
</html>
